@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import 'variables';
@import 'boxes';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:$Grayish-Blue;
    opacity: 0.7;
    width: 100vw;
    height: 100vh;
}

footer {
    color: hsl(228, 45%, 44%);
    font-size: 11px; 
    text-align: center;
}

#title{
    font-weight: 400;
}
h2{
    font-weight: 600;
    
}